mixin NavBar({social, tag = 'nav'} = {})
	#{tag}.NavBar&attributes(attributes)
		.NavBar-container.container
			a.NavBar-left(href='/')
				.NavBar-logo
					include /assets/images/logo.svg
				.Navbar-definition
					span.-fade verb.
					span  to collect or assemble
			ul.NavBar-links
				li.-md-hide: a(href='/#value') value
				li.-md-hide: a(href='/#consultancy') consultancy
				li: a(href='/#contact') contact

mixin Footer()
	footer.Footer
		.container
			.Footer-container
				a.Footer-logo(href='/')
					include /assets/images/logo.svg
				ul.Footer-social
					if site.phone
						li: a.phone(href='tel:#{site.phone}'): +FeatherIcon('phone')
					if site.email
						li: a.email(href='mailto:#{site.email}'): +FeatherIcon('mail')
					if site.facebook
						li: a.facebook(href='https://fb.com/#{site.facebook}'): +FeatherIcon('facebook')
					if site.instagram
						li: a.instagram(href='https://instagram.com/#{site.instagram}'): +FeatherIcon('instagram')
					if site.twitter
						li: a.twitter(href='https://twitter.com/#{site.twitter}'): +FeatherIcon('twitter')
					if site.github
						li: a.github(href='https://github.com/#{site.github}'): +FeatherIcon('github')
					if site.linkedin
						li: a.linkedin(href='https://linkedin.com/company/#{site.linkedin}'): +FeatherIcon('linkedin')
					if site.whatsapp
						li: a.whatsapp(href='https://api.whatsapp.com/send?phone=#{site.whatsapp}'): +FeatherIcon('zap')
