mixin EncodedLink({href, hash = ''})
	-const encode = fp.flow([fp.map(char => char.charCodeAt(0)), fp.join(',')])
	a(href='#'+hash.replace(/ /g, '_') data-encoded-link=encode(href))&attributes(attributes)
		if block
			block

mixin NavBar({social, tag = 'nav'} = {})
	#{tag}.NavBar&attributes(attributes)
		.NavBar-container.container
			a.NavBar-left(href='/')
				.NavBar-logo
					include /assets/images/logo.svg
				.Navbar-definition
					span.-fade verb.
					span  to collect or assemble
			ul.NavBar-links
				li.-md-hide: a(href='/agency') agency
				li.-md-hide: a(href='/#value') value
				li.-md-hide: a(href='/#consultancy') consultancy
				li: a(href='/#contact') contact

mixin Footer()
	footer.Footer
		.container
			.Footer-container
				a.Footer-logo(href='/')
					include /assets/images/logo.svg
				ul.Footer-social
					if site.phone
						-const _phone = {href: `tel:${site.phone}`, hash: 'click to call'}
						li: +EncodedLink(_phone).phone: +FeatherIcon('phone')
					if site.email
						-const _email = {href: `mailto:${site.email}`, hash: 'click to send an email'}
						li: +EncodedLink(_email).email: +FeatherIcon('mail')
					if site.facebook
						li: a.facebook(href='https://fb.com/#{site.facebook}'): +FeatherIcon('facebook')
					if site.instagram
						li: a.instagram(href='https://instagram.com/#{site.instagram}'): +FeatherIcon('instagram')
					if site.twitter
						li: a.twitter(href='https://twitter.com/#{site.twitter}'): +FeatherIcon('twitter')
					if site.github
						li: a.github(href='https://github.com/#{site.github}'): +FeatherIcon('github')
					if site.linkedin
						li: a.linkedin(href='https://linkedin.com/company/#{site.linkedin}'): +FeatherIcon('linkedin')
					if site.whatsapp
						-const _whatsapp = {href: `https://api.whatsapp.com/send?phone=${site.whatsapp}`, hash: 'click to open whatsapp'}
						li: +EncodedLink(_whatsapp).whatsapp: +FeatherIcon('zap')
